<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
   {{> nav }}
    <section class="section hero-section">
      <h1 class="header-heading">hi i'm john and i skate a lot</h1>
      <p class="section-pera">
        Lorem, ipsum dolor consecrator adipisicing elite. Est bandit's
        adipisicing!
      </p>
      <button class="btn btn-primary">Get in touch</button>
    </section>
  </body>
</html>