<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{>nav}}
    <section class="login_section">
        <div class="login_heading">
            <h1> login </h1>
        </div>
        <div class="error_msg">
            <p> {{error}} </p>
        </div>
        <form action="/login" method="post">
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">password : </label>
            <input type="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="login">
        </div>
        </form>
    </section>
</body>
</html>