<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{> nav}}
    <section>
        <div class="heading">
            <h1>
                sign up
            </h1>
        </div>
        <div class="msg">
            <p> {{error}} </p>
        </div>
        <form action="/signup" method="post">
            <div>
                <label for="name">Name :</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="name">Email :</label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="password">password :</label>
                <input type="password" name="password">
            </div>
            <div>
                <label for="conform password">conform password :</label>
                <input type="password" name="conform_password">
            </div>
            <div>
                <input type="submit" value="submit">
            </div>
        </form>
    </section>
</body>
</html>