<header>
  <h1 class="logo">SKATER</h1>
  <nav>
    <ul>
      <li>
        <a href="/" class="nav-link home-link">Home</a>
      </li>
      <li>
        <a href="/secret" class="nav-link">secret</a>
      </li>
      <li>
        <a href="/signup" class="nav-link contact-link">signup</a>
      </li>
      <li>
        <a href="/login" class="nav-link contact-link">login</a>
      </li>
      <li>
        <a href="/logout" class="nav-link contact-link">logout</a>
      </li>
    </ul>
  </nav>
</header>